:root {
  --pico-font-size: 14px;
}

.app-container {
  display: flex;
  height: calc(100vh - 40px);
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.left-pane {
  flex: 1;
  padding: 20px;
  border-right: 1px solid var(--pico-muted-border-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.right-pane {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.xml-preview {
  margin-top: 20px;
}
